# Ignore data files
/data/
# Ignore compiled files across the repo
**/__pycache__/
# Ignore pycharm project files
/.idea/
# Ignore .ipynb files
.ipynb

# PyPi
dist/*
caer.egg-info/*
pythonenv3.8/*
build/*
*.pyc
.Python
project_arrakis.egg-info/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg
MANIFEST